.v-box {
 	-fx-stroke: green;
 	-fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

.root {
	-fx-background-color: #C48252;
}

.button {
	-fx-background-color: black;
	-fx-text-fill: white;
}

#btnBack {
	-fx-padding: 10 10 10 10;
}

#lblTitle, #lblDt {
    -fx-underline: true;
}

#lblDt {
	-fx-font-weight: 700;
}

.lblField {
	-fx-font-size: 20px;
	-fx-font-weight: 500;
}

#lblTitle {
	-fx-font-size: 24px;
	-fx-font-weight: 900;
}

#btnValidate,  #txtSysAmnt {
	-fx-font-size: 16px;
	-fx-font-weight: 900;
}